.navigationContainer {
  box-shadow: 0 0 1em #898989;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 0 20px;

  .centerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4em;
  }

  .icons {
    font-size: 18px;
  }

  .fontLogo {
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
  }
}
