.heroContainer {
  .linkFeaturedArticle {
    cursor: pointer;
    padding: 0 7px;
    display: inline-flex;
    border-bottom: solid 1px transparent;
    transition: border-bottom-color 0.1s;

    &:hover {
      border-bottom-color: #000;
    }

    svg {
      margin-right: 5px;
    }

    span {
      font-weight: bolder;
      font-size: 16px;
      line-height: 28px;
      text-transform: uppercase;
    }
  }

  .image {
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .searchBox {
    border: 0.5px solid #d3d3d3;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: not-allowed;
    color: #d3d3d3;

    span {
      font-family: 'Titillium Web', sans-serif;
      font-size: 18px;
    }
  }

  .contentContainer {
    margin-bottom: 20px;
    border-radius: 15px;
    background: #e7ecef;
    box-sizing: border-box;
    padding: 20px;

    min-width: 360px;
    max-width: 360px;

    // Medium
    @media (min-width: 600px) {
      min-width: 600px;
      max-width: 600px;
    }

    // Medium Large
    @media (min-width: 800px) {
      min-width: 800px;
      max-width: 800px;
    }

    // Large
    @media (min-width: 1200px) {
      min-width: 1200px;
      max-width: 1200px;
    }

    .category {
      text-transform: uppercase;
      font-family: 'Karla', sans-serif;
      letter-spacing: 2px;
    }

    .heading {
      font-family: 'DM Serif Display', serif;
      font-size: 36px;
    }

    .shortDescription {
      font-family: 'Titillium Web', sans-serif;
      font-size: 18px;
      margin-bottom: 1em;
    }
  }
}
