.heroContainer {
  height: 40em;

  .image {
    background-image: url(https://picsum.photos/1000);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30em;
  }

  .contentContainer {
    background: lightgrey;
    min-width: 60em;
    min-height: 16em;
    margin-top: -50px;
  }
}
