.richText {
  margin: 15px 0;

  p {
    line-height: 30px;
    font-family: 'Heebo', sans-serif;
  }

  h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 30px;
    margin: 10px 0;
  }

  img {
    width: 100%;
  }
}
