.richText {
  margin: 15px 0;

  p {
    line-height: 30px;
    font-family: 'Heebo', sans-serif;
  }

  h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 30px;
    margin: 10px 0;
  }

  img {
    width: 100%;
  }
}

.imageRender {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.swiperCustomProps {
  max-height: 500px;

  img {
    max-height: 500px;
    margin: auto;
    display: block;
  }
}

:root {
  --swiper-theme-color: #000;
}
